<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>runDestinationsByUUID</key>
	<dict>
		<key>44DEDF6D-242F-4905-9CBF-381D57A3D858</key>
		<dict>
			<key>localComputer</key>
			<dict>
				<key>busSpeedInMHz</key>
				<integer>400</integer>
				<key>cpuCount</key>
				<integer>1</integer>
				<key>cpuKind</key>
				<string>Quad-Core Intel Core i5</string>
				<key>cpuSpeedInMHz</key>
				<integer>1400</integer>
				<key>logicalCPUCoresPerPackage</key>
				<integer>8</integer>
				<key>modelCode</key>
				<string>MacBookPro16,3</string>
				<key>physicalCPUCoresPerPackage</key>
				<integer>4</integer>
				<key>platformIdentifier</key>
				<string>com.apple.platform.macosx</string>
			</dict>
			<key>targetArchitecture</key>
			<string>x86_64</string>
			<key>targetDevice</key>
			<dict>
				<key>modelCode</key>
				<string>iPhone13,2</string>
				<key>platformIdentifier</key>
				<string>com.apple.platform.iphonesimulator</string>
			</dict>
		</dict>
		<key>61439CBD-C6DE-4454-98DB-5A0F10134338</key>
		<dict>
			<key>localComputer</key>
			<dict>
				<key>busSpeedInMHz</key>
				<integer>400</integer>
				<key>cpuCount</key>
				<integer>1</integer>
				<key>cpuKind</key>
				<string>Quad-Core Intel Core i5</string>
				<key>cpuSpeedInMHz</key>
				<integer>1400</integer>
				<key>logicalCPUCoresPerPackage</key>
				<integer>8</integer>
				<key>modelCode</key>
				<string>MacBookPro16,3</string>
				<key>physicalCPUCoresPerPackage</key>
				<integer>4</integer>
				<key>platformIdentifier</key>
				<string>com.apple.platform.macosx</string>
			</dict>
			<key>targetArchitecture</key>
			<string>x86_64</string>
			<key>targetDevice</key>
			<dict>
				<key>modelCode</key>
				<string>iPhone12,1</string>
				<key>platformIdentifier</key>
				<string>com.apple.platform.iphonesimulator</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
